#root_panel{
    -fx-padding: 1px;
}

#left_fp{
   -fx-min-width: 200px;
}

#root_panel .button{
    -fx-text-fill: #74ff33 ;
}

.green_label {
    -fx-fill: #16611c;
}
#tb{

    -fx-padding: 10px;
    -fx-background-image: url("../images/top-bar.png");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;

}


#newButton {
    -fx-background-color: null;
    -fx-padding: -10 0 -10 0;
    -fx-background-image: url("../images/ribbon-new.png");
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}
#highlightsButton {
    -fx-background-color: null;
    -fx-padding: -10 0 -10 0;
    -fx-background-image: url("../images/ribbon-highlights.png");
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}
#highlightsButton:hover, #newButton:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 10, 0.5 , 0 , 0 );
}
#highlightsButton:focused, #newButton:focused {
    -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5, 0.7 , 0 , 0 );
}

#SearchBox .text-field {
    -fx-background-color: white;
    -fx-background-insets: 1;
    -fx-background-radius: 15;
    -fx-padding: -9 5 -11 0;
    -fx-border-image-source: url("../images/search-box.png");
    -fx-border-image-slice: 12 12 12 22 fill;
    -fx-border-image-width: 12 12 12 22;
    -fx-border-image-repeat: stretch;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: grey;
}
#SearchBox .text-field:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1;
    -fx-background-radius: 14.4;
}
#SearchBox .button {
    -fx-background-color: null;
    -fx-background-image: url("../images/search-clear.png");
}
#SearchBox .button:hover {
    -fx-background-image: url("../images/search-clear-over.png");
}
.search-menu-item {
    -fx-border-color: transparent transparent transparent #bbbbbb;
    -fx-border-insets: 0 0 0 69;
    -fx-padding: 4 5 4 -64;
}
.search-menu-item:selected , .search-menu-item:hover , .search-menu-item:focused {
    -fx-border-color: transparent transparent transparent derive(-fx-focus-color,30%);
}
.search-menu-item-popup-region { -fx-opacity: 0; }
.search-menu-item:hover .search-menu-item-popup-region , .search-menu-item:focused .search-menu-item-popup-region {
    -fx-opacity: 100%;
}
#search-info-box {
    -fx-padding: -30 -6 -8 -2;
    -fx-border-image-source: url("../images/info-tooltip.png");
    -fx-border-image-slice: 34 20 12 12 fill;
    -fx-border-image-width: 34 20 12 12;
    -fx-border-image-repeat: stretch;
}
#search-info-name {
    -fx-text-fill: white;
}
#search-info-description {
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
}

#window-close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-close.png");
    -fx-padding: 6 6 4 6;
}
#window-min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-min.png");
    -fx-padding: 6 6 4 6;
}
#window-max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-expand.png");
    -fx-padding: 6 6 4 6;
}

#window-close:hover {
    -fx-background-image: url("../images/window-close-over.png");
}
#window-min:hover {
    -fx-background-image: url("../images/window-min-over.png");
}
#window-max:hover {
    -fx-background-image: url("../images/window-expand-over.png");
}

/* ====== Bar line chart =========================================================== */
.candlestick-average-line {
    -fx-stroke: #ce3003;
    -fx-stroke-width: 2px;
}

.candlestick-tooltip-label {
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-padding: 2 5 2 0;
}

/* ======tree view =========================================================== */

#page-tree .tree-cell {
    -fx-indent: 10;
    -fx-background-color: transparent;
}
#page-tree .tree-cell:odd {
    -fx-background-color: transparent;
}
#page-tree .tree-cell:filled:selected:focused, #page-tree .tree-cell:filled:selected {
    -fx-background: #666666;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
#page-tree:focused .tree-cell:filled:selected {
    -fx-background: -fx-accent;
}
#page-tree {
    -fx-background-color: #d1dee3;
    -fx-border-image-source: url("../images/tree-background.png");
    -fx-border-image-slice: 30 30 30 30 fill;
    -fx-border-image-width: 30 30 30 30;
    -fx-border-image-repeat: stretch;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: -30; /* counter the 30px added by border image to give 0 overall */
}
#page-tree:focused {
    /* -fx-background-color: #d1dee3; */
    -fx-background-color: -fx-focus-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


/* Sample Page Styles */
.sample-page {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: black;
    -fx-padding: 8px;
}

/* Page Styles */
.page-header {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-padding: 0 0 2px 0;
    -fx-border-color: transparent transparent #AAAAAA transparent;
    -fx-border-insets: 0 0 8px 0;
    -fx-text-fill: #0072aa;
    /*  -fx-effect: dropshadow( three-pass-box , white , 0, 0.0 , 10 , 1 ); */
}
.page-subheader {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-padding: 8px 0 2px 0;
    -fx-border-color: transparent transparent #AAAAAA transparent;
    -fx-border-insets: 0 0 8px 0;
    -fx-text-fill: #0072aa;
    /*  -fx-effect: dropshadow( three-pass-box , white , 0, 0.0 , 10 , 1 ); */
}



/* Tab Panel */
#source-tabs {
    /** without this all tabs (except the first one) don't draw the left-hand
        edge of their borders, as the caspian.css style is -1px. */
    -fx-tab-spacing: 0px;
}
#source-tabs *.tab-header-background {
    -fx-background-color: #51555c;
    /* -fx-background-color: #606060, lightgray, derive(-fx-color, -20%); */
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.7) , 12, 0.0 , 0 , 0);
}
#source-tabs:focused *.tab-header-background {
    -fx-effect: innershadow(two-pass-box , derive(-fx-focus-color,20%) , 8, 0.4 , 0 , 0);
}
#source-tabs .tab-header-content-spacer {
    -fx-padding: 0;
    -fx-border-width: 0px;
}
#source-tabs .tab {
    -fx-padding: 2 8 2 8;
    -fx-background-radius: 8 8 0 0, 7 7 0 0, 6 6 0 0;
}
#source-tabs .tab-label {
    -fx-font-size: 1em;
}
#source-tabs .tab:selected {
    -fx-padding: 2 8 2 8;
    -fx-background-radius: 8 8 0 0, 7 7 0 0, 6 6 0 0;
    -fx-background-color: #EEEEEE;
}
#source-tabs .tab-close-button {
    -fx-shape: null;
}